## DANNY'S DINER SQL CHALLENGE
This is a sql project created by [Danny Ma]("https://www.linkedin.com/in/datawithdanny/") to help individuals emerging into the data scene. From my view, it helps establish the foundational knowledge of sql while testing and developing logical problem skills.
I have chosen to do it in Python because it highlights how you can create a database on your system to allow for continuous use.

To get access to this and other of Danny's projects - [8 Week SQL Challenge]("https://8weeksqlchallenge.com/").

Before getting started, I would also recommend installing "ipython-sql". This allows you use the 'jupyter magic' function to interact with your relational database.

### Importing Libraries

In [1]:
import sqlite3 as sql
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Creating Database, Table & Inserting Values into Table

In [2]:
conn = sql.connect('dannys_diner.db')
c = conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS sales (customer_id TEXT,order_date TEXT,product_id INT)')
    c.execute('CREATE TABLE IF NOT EXISTS menu (product_id INT,product_name TEXT,price REAL)')
    c.execute('CREATE TABLE IF NOT EXISTS members (customer_id TEXT,join_date TEXT)')
              
def data_entry():
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-01', 1)")
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-01', 2)")
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-07', 2)")
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-10', 3)")
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-11', 3)")
    c.execute("INSERT INTO sales VALUES ('A', '2021-01-11', 3)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-01-01', 2)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-01-02', 2)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-01-04', 1)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-01-11', 1)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-01-16', 3)")
    c.execute("INSERT INTO sales VALUES ('B', '2021-02-01', 3)")
    c.execute("INSERT INTO sales VALUES ('C', '2021-01-01', 3)")
    c.execute("INSERT INTO sales VALUES ('C', '2021-01-01', 3)")
    c.execute("INSERT INTO sales VALUES ('C', '2021-01-07', 3)")
    
    c.execute("INSERT INTO menu VALUES (1, 'sushi', 10)")
    c.execute("INSERT INTO menu VALUES (2, 'curry', 15)")
    c.execute("INSERT INTO menu VALUES (3, 'ramen', 12)")
              
    c.execute("INSERT INTO members VALUES ('A', '2021-01-07')")
    c.execute("INSERT INTO members VALUES ('B', '2021-01-09')")
    
    conn.commit()
    conn.close()
    
create_table()
data_entry()

In [3]:
%%capture
%load_ext sql
%sql sqlite:///dannys_diner.db

In [4]:
%%sql
SELECT 
* 
FROM sales;

 * sqlite:///dannys_diner.db
Done.

[('A', '2021-01-01', 1),
 ('A', '2021-01-01', 2),
 ('A', '2021-01-07', 2),
 ('A', '2021-01-10', 3),
 ('A', '2021-01-11', 3),
 ('A', '2021-01-11', 3),
 ('B', '2021-01-01', 2),
 ('B', '2021-01-02', 2),
 ('B', '2021-01-04', 1),
 ('B', '2021-01-11', 1),
 ('B', '2021-01-16', 3),
 ('B', '2021-02-01', 3),
 ('C', '2021-01-01', 3),
 ('C', '2021-01-01', 3),
 ('C', '2021-01-07', 3)]

In [5]:
%%sql
SELECT 
* 
FROM menu;

 * sqlite:///dannys_diner.db
Done.

[(1, 'sushi', 10.0), (2, 'curry', 15.0), (3, 'ramen', 12.0)]

In [6]:
%%sql
SELECT 
* 
FROM members;

 * sqlite:///dannys_diner.db
Done.

[('A', '2021-01-07'), ('B', '2021-01-09')]

### Case Study Questions

#### Question 1 - What is the total amount each customer spent at the restaurant?

#### Question 2 - How many days has each customer visited the restaurant?

#### Question 3 - What was the first item from the menu purchased by each customer?

#### Question 4 - What is the most purchased item on the menu and how many times was it purchased by all customers?

#### Question 5 - Which item was the most popular for each customer?

#### Question 6 - Which item was purchased first by the customer after they became a member?

#### Question 7 - Which item was purchased just before the customer became a member?

#### Question 8 - What is the total items and amount spent for each member before they became a member?

#### Question 9 - If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

#### Question 10 - In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

#### Bonus Question - Join All Things

##### Create table holding all essential data to avoid joining tables